#main {
    text-align: center;

    background: rgba(245, 245, 220, 0.863);

}

#timeline {
    text-align: left;
    margin-left: 20rem;
    margin-right: 20rem;
}

#quote {
    margin-left: 20rem;
    margin-right: 20rem;
}

#image {
    max-width: 50%;
    max-height: 50%;
    box-shadow: 5px 5px
}